* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f8fb;
}

.container {
  display: flex;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  width: 80%;
  overflow: hidden;
  height: 90vh;
}

.image-section {
  background-color: #e3effb;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.image-section img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.form-section {
  padding: 40px;
  width: 50%;
}

.logo {
  position: absolute;
  top: 50px;
  left: 1559px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.logoimg {
  width: 100px;
  height: auto;
}

.text-container {
  display: flex;
  flex-direction: column;
}

.text-a {
  color: black;
  position: absolute;
  height: 117px;
  top: 50px;
  left: 8px;
  font-family: "Inknut Antiqua", Helvetica;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.text-k {
  color: black;
  position: absolute;
  height: 17px;
  top: 85px;
  left: 42px;
  font-family: "Inria Sans", Helvetica;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 5.18px;
  line-height: normal;
}

h2,
.signup {
  margin-top: 70px;
  margin-bottom: 10px;
  color: #333;
  font-size: 2rem;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 20px;
  color: #666;
  font-size: 2rem;
}

.intro-text {
  font-size: 1.5rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

.input-group {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  gap: 20px;
}

.input-wrapper {
  width: 100%;
  position: relative;
  margin-bottom: 20px;
}

.input-wrapper input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.label {
  position: absolute;
  left: 10px;
  top: 10px;
  transition: all 0.3s ease;
  color: #aaa;
  color: #777;
  transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease;
}

.input-wrapper input:focus + .label,
.input-wrapper input:not(:placeholder-shown) + .label {
  top: -8px;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: black;
  background-color: #f2f2f2;
  padding: 0 4px;
  left: 10px;
}

.checkbox-group {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.checkbox-group input {
  margin-right: 10px;
}

.checkbox-group label {
  font-size: 14px;
}

.checkbox-group a {
  color: #007bff;
  text-decoration: none;
}

.input-wrapper small {
  display: block;        
  margin-top: 5px;    
  color: #555;         
  line-height: 1.5;     
}

.btn {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  background-color: #4a56e2;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: green;
}
.btn {
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.btn:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.btn:active {
  color: #000;
}

.btn:active:after {
  background: transparent;
}

.btn:hover:before {
  opacity: 1;
}

.btn:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.login-text {
  position: ;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 40px;
  color: #666;
  margin-bottom: 20px;
}

.or-option {
  margin-top: 20px;
  text-align: center;
  font-size: 1.2rem;
}

.login-text a {
  color: #007bff;
  text-decoration: none;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 10px;
}

.social-icons a {
<<<<<<< HEAD
    margin: 0 10px;
    transition: filter 0.1s ease; 
=======
  margin: 0 10px;
  transition: filter 0.5s ease;
>>>>>>> a4a9166861342b975f81552da484582d06e26d23
}

.social-icons a:hover {
  filter: invert(29%) sepia(73%) saturate(747%) hue-rotate(172deg)
    brightness(95%) contrast(92%);
}

.social-icons img {
  width: 30px;
}

.social {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.container-64 {
  display: inline-block;
}

.symbol {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-margin-4 {
  margin-bottom: 10px;
}

.link-7 {
  display: inline-block;
}

.error-message {
  font-size: 0.875rem;
  color: red;
  margin-top: 5px;
  display: block;
  font-weight: bold;
}
