:root {
      --b2: #28aae2;
      --b3: #ff0000;
      --w1: #00ff1e;
      --w2: #000000;
      --t1: all 0.5s ease 0s;
      
  --boulder: rgba(118, 118, 118, 1);
  --chateau-green: rgba(52, 168, 83, 1);
  --cinnabar: rgba(233, 66, 53, 1);
  --cornflower-blue: rgba(66, 133, 244, 1);
  --dove-gray: rgba(102, 102, 102, 1);
  --selective-yellow: rgba(250, 187, 5, 1);
  --tundora-10: rgba(68, 68, 68, 0.1);
  --tundora-20: rgba(68, 68, 68, 0.2);
  --semantic-button-font-family: "Open Sans", Helvetica;
  --semantic-button-font-weight: 400;
  --semantic-button-font-size: 16px;
  --semantic-button-letter-spacing: 0px;
  --semantic-button-line-height: 24px;
  --semantic-button-font-style: normal;
  --semantic-heading-1-font-family: "Jost", Helvetica;
  --semantic-heading-1-font-weight: 700;
  --semantic-heading-1-font-size: 48px;
  --semantic-heading-1-letter-spacing: 0px;
  --semantic-heading-1-line-height: 56px;
  --semantic-heading-1-font-style: normal;
  --semantic-heading-2-font-family: "Jost", Helvetica;
  --semantic-heading-2-font-weight: 700;
  --semantic-heading-2-font-size: 32px;
  --semantic-heading-2-letter-spacing: 0px;
  --semantic-heading-2-line-height: 38.400001525878906px;
  --semantic-heading-2-font-style: normal;
  --semantic-heading-3-font-family: "Jost", Helvetica;
  --semantic-heading-3-font-weight: 700;
  --semantic-heading-3-font-size: 18px;
  --semantic-heading-3-letter-spacing: 0px;
  --semantic-heading-3-line-height: 21.600000381469727px;
  --semantic-heading-3-font-style: normal;
  --semantic-heading-4-font-family: "Jost", Helvetica;
  --semantic-heading-4-font-weight: 700;
  --semantic-heading-4-font-size: 16px;
  --semantic-heading-4-letter-spacing: 0px;
  --semantic-heading-4-line-height: 19.200000762939453px;
  --semantic-heading-4-font-style: normal;
  --semantic-input-font-family: "Open Sans", Helvetica;
  --semantic-input-font-weight: 400;
  --semantic-input-font-size: 16px;
  --semantic-input-letter-spacing: 0px;
  --semantic-input-line-height: 24px;
  --semantic-input-font-style: normal;
  --semantic-item-font-family: "Inter", Helvetica;
  --semantic-item-font-weight: 400;
  --semantic-item-font-size: 12px;
  --semantic-item-letter-spacing: 0px;
  --semantic-item-line-height: 12px;
  --semantic-item-font-style: normal;
  --semantic-label-font-family: "Open Sans", Helvetica;
  --semantic-label-font-weight: 400;
  --semantic-label-font-size: 16px;
  --semantic-label-letter-spacing: 0px;
  --semantic-label-line-height: 24px;
  --semantic-label-font-style: normal;
  --semantic-link-font-family: "Open Sans", Helvetica;
  --semantic-link-font-weight: 400;
  --semantic-link-font-size: 14px;
  --semantic-link-letter-spacing: 0px;
  --semantic-link-line-height: 14px;
  --semantic-link-font-style: normal;
  --semantic-strong-font-family: "Open Sans", Helvetica;
  --semantic-strong-font-weight: 400;
  --semantic-strong-font-size: 14px;
  --semantic-strong-letter-spacing: 0px;
  --semantic-strong-line-height: 21px;
  --semantic-strong-font-style: normal;
  --semantic-superscript-font-family: "Times New Roman", Helvetica;
  --semantic-superscript-font-weight: 700;
  --semantic-superscript-font-size: 13.300000190734863px;
  --semantic-superscript-letter-spacing: 0px;
  --semantic-superscript-line-height: normal;
  --semantic-superscript-font-style: normal;
  --arial-narrow-14-font-family: "Arial", Helvetica;
  --arial-narrow-14-font-weight: 400;
  --arial-narrow-14-font-size: 14px;
  --arial-narrow-14-letter-spacing: 0px;
  --arial-narrow-14-line-height: normal;
  --arial-narrow-14-font-style: normal;
  --inter-regular-16-font-family: "Inter", Helvetica;
  --inter-regular-16-font-weight: 400;
  --inter-regular-16-font-size: 16px;
  --inter-regular-16-letter-spacing: 0px;
  --inter-regular-16-line-height: 16px;
  --inter-regular-16-font-style: normal;
  --inter-regular-26-font-family: "Inter", Helvetica;
  --inter-regular-26-font-weight: 400;
  --inter-regular-26-font-size: 26px;
  --inter-regular-26-letter-spacing: 0px;
  --inter-regular-26-line-height: 26px;
  --inter-regular-26-font-style: normal;
  --inter-regular-36-font-family: "Inter", Helvetica;
  --inter-regular-36-font-weight: 400;
  --inter-regular-36-font-size: 36px;
  --inter-regular-36-letter-spacing: 0px;
  --inter-regular-36-line-height: 36px;
  --inter-regular-36-font-style: normal;
  --jost-semibold-12-upper-font-family: "Jost", Helvetica;
  --jost-semibold-12-upper-font-weight: 600;
  --jost-semibold-12-upper-font-size: 12px;
  --jost-semibold-12-upper-letter-spacing: 0px;
  --jost-semibold-12-upper-line-height: 18px;
  --jost-semibold-12-upper-font-style: normal;
  --open-sans-semibold-22-font-family: "Open Sans", Helvetica;
  --open-sans-semibold-22-font-weight: 600;
  --open-sans-semibold-22-font-size: 22px;
  --open-sans-semibold-22-letter-spacing: 0px;
  --open-sans-semibold-22-line-height: 28.600000381469727px;
  --open-sans-semibold-22-font-style: normal;
  --open-sans-regular-16-font-family: "Open Sans", Helvetica;
  --open-sans-regular-16-font-weight: 400;
  --open-sans-regular-16-font-size: 16px;
  --open-sans-regular-16-letter-spacing: 0px;
  --open-sans-regular-16-line-height: 24px;
  --open-sans-regular-16-font-style: normal;
  --open-sans-italic-16-font-family: "Open Sans", Helvetica;
  --open-sans-italic-16-font-weight: 400;
  --open-sans-italic-16-font-size: 16px;
  --open-sans-italic-16-letter-spacing: 0px;
  --open-sans-italic-16-line-height: 24px;
  --open-sans-italic-16-font-style: italic;
  --open-sans-regular-13-font-family: "Open Sans", Helvetica;
  --open-sans-regular-13-font-weight: 400;
  --open-sans-regular-13-font-size: 13px;
  --open-sans-regular-13-letter-spacing: 0px;
  --open-sans-regular-13-line-height: 19.5px;
  --open-sans-regular-13-font-style: normal;
  --open-sans-regular-14-font-family: "Open Sans", Helvetica;
  --open-sans-regular-14-font-weight: 400;
  --open-sans-regular-14-font-size: 14px;
  --open-sans-regular-14-letter-spacing: 0px;
  --open-sans-regular-14-line-height: 21px;
  --open-sans-regular-14-font-style: normal;
  --open-sans-regular-15-font-family: "Open Sans", Helvetica;
  --open-sans-regular-15-font-weight: 400;
  --open-sans-regular-15-font-size: 15px;
  --open-sans-regular-15-letter-spacing: 0px;
  --open-sans-regular-15-line-height: 22.5px;
  --open-sans-regular-15-font-style: normal;
  --roboto-medium-14-font-family: "Roboto", Helvetica;
  --roboto-medium-14-font-weight: 500;
  --roboto-medium-14-font-size: 14px;
  --roboto-medium-14-letter-spacing: 0px;
  --roboto-medium-14-line-height: normal;
  --roboto-medium-14-font-style: normal;
  --times-new-roman-regular-16-font-family: "Times New Roman", Helvetica;
  --times-new-roman-regular-16-font-weight: 400;
  --times-new-roman-regular-16-font-size: 16px;
  --times-new-roman-regular-16-letter-spacing: 0px;
  --times-new-roman-regular-16-line-height: normal;
  --times-new-roman-regular-16-font-style: normal;
  --times-new-roman-italic-16-font-family: "Times New Roman", Helvetica;
  --times-new-roman-italic-16-font-weight: 400;
  --times-new-roman-italic-16-font-size: 16px;
  --times-new-roman-italic-16-letter-spacing: 0px;
  --times-new-roman-italic-16-line-height: normal;
  --times-new-roman-italic-16-font-style: italic;
}
